*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;  
}
ul,ol{
    list-style: none;
}
html,body{
    height: 100%;
    width:100%;
}
.App{
  h2{text-align: center;}
  .container{
      display: flex;
  }
}